@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'san-serif';
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}
.container {
    background-color: #ACBDFE;
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}
.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.form-image img {
    width: 40rem;
}
.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ACBDFE;
    padding: 3rem;
}
.form-header {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}
.logo {
    max-width: 100%;
    height: auto;
    width: 120px;
}
.form-header h1::after {
content: '';
display: block;
width: 2rem;
height: 0.3rem;
background-color: #7CAAEF;
margin: 0 auto;
position: absolute;
border-radius: 10px;
}
.box-group {
    background-color: #cdd7ff;
}
.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}
.input.box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}
.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}
.input-box input:hover {
    background-color: #eeeeee75;
}
.input-box input:focus-visible {
    outline: 1px solid #7CAAEF;
}
.input-box label {
    font-size: 0.75rem;
    font-weight: 500;
    color: #000000c0;
}
.input-box input::placeholder {
    color: #0000006a
}
.continue-button button{
    width: 100%;
    margin-top: 3rem;
    border: none;
    background-color: #7CAAEF;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}
.continue-button button:hover {
    background-color: #7caaefcd;
}
.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #ffffff;
}
.forget-password a {
    text-decoration: none;
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    padding: 0.20rem;
    color: #4b79be;
}
.forget-password a:hover {
    color: #4b79bea1;
}
@media screen and (max-width: 1330px) {
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .form-image {
        display: none;
    }
    .container {
        width: 90%;
        height: auto;
    }
    .form {
        width: 100%;
    }
}
@media screen and (max-width: 950px) {
    body {
        overflow: hidden;
    }
    .form-image {
        display: none;
    }
    .container {
        width: 100%;
        height: auto;
        background-color: #ACBDFE
    }
    .form {
        width: 100%;
        background-color: #ACBDFE;
    }
    .box-group {
        background-color: #cdd7ff;
    }
}